.corpo{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.title-twitter{
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
}

.title-twitter h1{
    color: white;
}

.box-twitter{
    display: flex;
    justify-content: center;
}

textarea{
    margin: 5px;
    padding: 10px;
    border: 2px solid #1DA1F2;
    resize: none;
    height: 120px;
    width: 380px;
    text-align: start;
}


#contador{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;   
}

.btn-twittar{
    border-radius: 5px;
    padding: 8px;
    width: 60px;
    border: none;

}