body{
    margin: 0;
    padding: 0;
    color: #14171a;
    background-color: whitesmoke;
}
.title-twitter{
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
}

.title-twitter h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#contador{
    font-size: 50px;
}
